$color-primary: #dfd68d;
$color-primary-light: #ebde7a;
$color-primary-dark: #857c36;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$font-primary: 'PT Serif', serif;
$font-secondary: 'Dancing Script', cursive;

// RESPONSIVE BREAKPOINTS
$bp-large: 75em; //1200px
$bp-large1: 62.5em; //1000px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px